{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">About Fort Smythe</h1>
                <hr>
                <p>
                    <img style="float: right; display: inline-block; max-width: 400px; padding: 5px;" src="/static/images/outside.png" alt="Outside">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam atque beatae consectetur consequatur delectus dolorem dolores doloribus earum enim esse hic impedit ipsam laudantium libero magni minus, mollitia nam nemo nulla pariatur repellendus sed voluptas voluptatem voluptates? Animi assumenda autem dolorem earum error est excepturi in laborum molestiae molestias necessitatibus neque nesciunt optio perferendis quam quis quod, quos ratione repellat saepe sed tempora tempore velit vitae voluptas. Amet autem doloribus impedit nulla possimus. Commodi cupiditate exercitationem fugit maiores modi obcaecati qui sunt, voluptate. Asperiores eveniet ex fugiat iste molestias quam reprehenderit. Accusantium assumenda eaque nesciunt perspiciatis quia sapiente vitae?
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis est impedit nemo nesciunt nisi sed sequi vitae. Iusto obcaecati quidem suscipit unde voluptate. Consequatur dolores inventore labore quod sed. Ab ad alias aliquid architecto at beatae, blanditiis commodi cum debitis delectus dolor dolorem doloremque esse ex exercitationem fuga illo illum laboriosam laborum maxime minima modi molestiae, non odit officia omnis optio ratione rem reprehenderit sed sint sunt suscipit temporibus totam unde voluptate voluptatum. Adipisci animi aperiam corporis dolore, doloribus ea eius et excepturi exercitationem hic illo impedit inventore odit optio pariatur quod repellat repellendus rerum, sint ut voluptas, voluptatum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque consectetur culpa doloremque eaque inventore, libero minus modi nemo obcaecati officia perspiciatis porro quam quia quo similique totam. Aspernatur deserunt eaque eius facilis id labore laborum, necessitatibus nemo officia quam sed sit voluptatem? Accusantium aspernatur aut dolore ea eligendi enim et ex fugiat, maiores neque nobis nulla optio quos reiciendis, repudiandae temporibus totam veniam, vero? A cumque dolore dolores fugiat, illum, magni nihil perferendis recusandae repellendus repudiandae saepe soluta velit? Consequatur distinctio est et illo labore modi neque numquam, perferendis porro reprehenderit sed sint sunt tenetur velit vero voluptates, voluptatibus.
                </p>
            </div>
        </div>
    </div>
{{end}}
