.my-footer {
    height: 5em;
    background-color: #163b65;
    margin-top: 1.5em;
    padding: 1em;
    color: white;
    font-size: 80%;
}
.room-image {
    max-width: 50%;
}
.notie-container {
    box-shadow: none;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}
.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}
.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}
.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}
.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}
.colored-toast .swal2-title {
    color: white;
}
.colored-toast .swal2-close {
    color: white;
}
.colored-toast .swal2-html-container {
    color: white;
}
.datepicker {
    z-index: 10000;
}
